.front-landing-bg{ background-image: url('https://f7f4b4b8.stackpathcdn.com/landing-sprite.png');  }
.front-about-thumb { background-position: 0 0; width: 464px; height: 560px; }
.front-apple-icon { background-position: 0 -560px; width: 126px; height: 142px; }
.front-book-jobs-icon { background-position: 0 -702px; width: 28px; height: 28px; }
.front-cards-icon { background-position: 0 -730px; width: 52px; height: 52px; }
.front-chase-up-receivable { background-position: 0 -782px; width: 28px; height: 28px; }
.front-client-communication { background-position: 0 -810px; width: 28px; height: 28px; }
.front-collect-leads-icon { background-position: 0 -838px; width: 52px; height: 52px; }
.front-customer-service { background-position: 0 -890px; width: 28px; height: 28px; }
.front-deliver-quotes { background-position: 0 -918px; width: 28px; height: 28px; }
.front-dolar-icon { background-position: 0 -946px; width: 52px; height: 52px; }
.front-facebook-icon { background-position: 0 -998px; width: 126px; height: 142px; }
.front-feature-thumb1 { background-position: 0 -1140px; width: 500px; height: 533px; }
.front-feature-thumb2 { background-position: 0 -1673px; width: 611px; height: 830px; }
.front-feature-thumb3 { background-position: 0 -2503px; width: 688px; height: 734px; }
.front-feature-thumb4 { background-position: 0 -3237px; width: 663px; height: 737px; }
.front-feature-thumb5 { background-position: 0 -3974px; width: 663px; height: 737px; }
.front-feature-thumb6 { background-position: 0 -4711px; width: 660px; height: 857px; }
.front-financing-icon { background-position: 0 -5568px; width: 28px; height: 28px; }
.front-get-reviews-icon { background-position: 0 -5596px; width: 28px; height: 28px; }
.front-gmail-icon { background-position: 0 -5624px; width: 87px; height: 96px; }
.front-google-poly-icon { background-position: 0 -5720px; width: 126px; height: 142px; }
.front-industries-page-hero-bg { background-position: 0 -5862px; width: 600px; height: 445px; }
.front-invoicing-from-field-figure { background-position: 0 -6307px; width: 358px; height: 496px; }
.front-job-icon { background-position: 0 -6803px; width: 52px; height: 52px; }
.front-job-scheduling { background-position: 0 -6855px; width: 28px; height: 28px; }
.front-main-logo { background-position: 0 -6883px; width: 269px; height: 30px; }
.front-manage-lead-thumb { background-position: 0 -6913px; width: 496px; height: 480px; }
.front-marketing-strategy-icon { background-position: 0 -7393px; width: 28px; height: 28px; }
.front-message-icon { background-position: 0 -7421px; width: 52px; height: 52px; }
.front-mobile-crm-thumb { background-position: 0 -7473px; width: 488px; height: 352px; }
.front-money-icon { background-position: 0 -7825px; width: 52px; height: 52px; }
.front-online-estimates-thumb { background-position: 0 -7877px; width: 404px; height: 388px; }
.front-pricing-prof-icon { background-position: 0 -8265px; width: 68px; height: 68px; }
.front-real-time-insights-icon { background-position: 0 -8333px; width: 52px; height: 52px; }
.front-send-invoice-icon { background-position: 0 -8385px; width: 32px; height: 32px; }
.front-starter-icon { background-position: 0 -8417px; width: 44px; height: 61px; }
.front-success-form-icon { background-position: 0 -8478px; width: 52px; height: 52px; }
.front-testimonial-smile { background-position: 0 -8530px; width: 32px; height: 32px; }
.front-time-tracking-icon { background-position: 0 -8562px; width: 29px; height: 28px; }
.front-twilio-icon { background-position: 0 -8590px; width: 129px; height: 143px; }
.front-user-icon-green-circle { background-position: 0 -8733px; width: 16px; height: 16px; }
.front-xero-icon { background-position: 0 -8749px; width: 126px; height: 142px; }
